main {
  display: flex;
  background-image: url(/public/background.jpg);
  background-size: cover;
}
.tools-bar {
  display: block;

  justify-content: space-between;
  margin-top: 5vh;
}
.user-info {
  display: flex;
  position: absolute;
  bottom: 5%;
  font-size: 12px;
  align-items: end;
  margin-bottom: 20px;
  margin-right: 5%;
  flex-direction: column;
  align-items: start;
  a {
    display: flex;
    align-items: center;

    font-weight: bold;
    svg {
      padding-left: 15px;
      fill: white;
    }
  }
}

.dashboard {
  display: flex;
  color: white;
  position: relative;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 20vw;
  background-color: #1a1a1a;
  .tools {
    font-family: "Outfit";
  }
  img {
    width: 60%;
    margin-top: 20px;
  }
  .tool {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    margin-top: 20px;
  }
}
.welcome {
  margin: 50px;
  font-size: 40px;
  padding-block: 25px;
  padding-inline: 10px;

  .welcome-message {
    animation: appear 5s forwards;
  }
  .page-message {
    opacity: 0;
    animation: appear 5s forwards;
    animation-delay: 3s;
  }
}
@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
