.main-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
  background-image: url(/background3.jpg);
  background-size: cover;
}

.login-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  background-color: #2c2c2ccf;
  flex-direction: column;
  max-height: 80%;
  padding: 2%;

  img {
    height: 150px;
    padding-top: 20px;
  }
  .login-reg-form {
    display: flex;
    justify-content: space-around;
    .user-form-login {
      input {
        margin-block: 2%;
        width: 70%;
      }
      span {
        max-width: 80%;
      }
    }
  }
  .reg-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10%;
    width: 40%;
    img {
      height: 150px;
      padding-top: 20px;
    }
  }
  .login-form {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 50px;

    .email-box {
      display: flex;
      flex-direction: column;
      #email {
        padding-block: 5px;
      }
    }
  }

  .pass-box {
    display: flex;
    flex-direction: column;
    #password {
      padding-block: 5px;
    }
  }
  .login-button {
    width: 50%;
    margin-inline: auto;
    margin-top: 20px;
    background-color: yellow;
    border-radius: 5px;
    padding-block: 10px;
    font-weight: 700;
  }
  .suscribe {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    gap: 25px;
    .subscribe-button {
      color: yellow;

      &:hover {
        color: rgb(27, 27, 248);
      }
    }
  }
}
.back-to-login {
  display: flex;
  color: yellow;
  align-items: center;
  fill: yellow;
  width: 50%;
  p {
    white-space: nowrap;
  }
  &:hover {
    color: blue;
    fill: blue;
  }
}

@media (max-height: 500px) {
  .login-box {
    flex-direction: row;
    max-height: 60%;
    img {
      padding: 5%;
    }
  }
  .login-reg-form {
    flex-direction: column;
    max-height: 80%;
  }
}
