@import url("login.css");

html {
  font-family: "Albert Sans", sans-serif;
}
.header-bar {
  display: flex;
  align-items: center;
  height: 100px;
  background-color: rgb(0, 0, 0);
  img {
    padding-inline-start: 80px;
    height: 70px;
  }
}
.main-control-box {
  display: flex;
  justify-content: center;
  width: 20%;
  height: 100vh;
  background-color: black;
  .main-control {
    height: 95%;
    width: 80%;
    border-radius: 12px;
    background-color: rgb(59, 59, 59);
    .tools {
      color: rgb(255, 208, 0);
      padding-left: 15%;
      font-family: "Outfit";
    }
  }
}
