@import url("login.css");
@import url("dashboard.css");
@import url("users-list.css");
@import url("admin-register.css");

html {
  font-family: "Albert Sans", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

