.main-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #1a1a1a;
    background-color: rgb(206, 206, 206);
  }

  .user {
    display: flex;
    border: 1px solid white;
    width: 100%;

  }
  
  .user div {
    display: flex;
    padding: 15px 30px;
    text-align: right;
  }
  
  


