.user {
  color: white;
  display: flex;
  justify-content: start;
  align-items: center;
  border-radius: 10px;
  margin: 15px;
  padding: 10px;

  overflow: hidden;
  background: rgba( 201, 194, 194, 0.25 );
  backdrop-filter: blur( 1.5px );
  -webkit-backdrop-filter: blur( 1.5px );
  cursor: pointer;
  color: white;
}

.aplication-box {
  overflow-x: hidden;
  max-height: 100vh;
  width: 80vw;
}
.link:active {
  color: white;
}

.surname {
  padding-left: 30px;
  width: 30%;
}

.name {
  width: 15%;
}
#subscription {
  margin-left: 30%;
  padding: 5px;
  color: white;
}

.subscription-name-list{
  background: rgba(238, 255, 0, 0.618);
  border-radius: 5px;
}



@media (max-width: 868px) {
  .user div {
    padding: 0 0;
    margin: 0px 0px;
    height: 40px;
    font-size: 15px;
  }
}
