.user {
  display: flex;
  justify-content: start;
  align-items: center;
  border-radius: 10px;
  margin: 15px;
  padding: 10px;

  overflow: hidden;
  background-color: rgb(255, 255, 255);
  
}

.aplication-box {
  overflow-x: hidden;
  max-height: 90vh;
  width: 80vw;

 
}



.link:active {
  color: white;
}

.surname {
  padding-left: 30px;
  width: 30%;
}

.name {
  color: black;
  width: 15%;
}
#subscription {
  margin-left: 30%;
  padding: 5px;
}

.premium {
  border-radius: 4px;
  text-align: center;
  background-color: #f9f45d;
}
.free {
  border-radius: 4px;
  text-align: center;
  background-color: #00c61e;
}

.basic {
  display: flex;
  background-color: #047cfc;
  border-radius: 4px;
  text-align: center;
}

@media (max-width: 868px) {
  .user div {
    padding: 0 0;
    margin: 0px 0px;
    height: 40px;
    font-size: 15px;
  }
}
